<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="Yireo_ModuleDuplicator::listTemplates" xsi:type="object">Yireo\ModuleDuplicator\Console\Command\ListTemplatesCommand</item>
                <item name="Yireo_ModuleDuplicator::createModule" xsi:type="object">Yireo\ModuleDuplicator\Console\Command\CreateModuleCommand</item>
                <item name="Yireo_ModuleDuplicator::updateComposerJson" xsi:type="object">Yireo\ModuleDuplicator\Console\Command\UpdateComposerJsonCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="Yireo\ModuleDuplicator\Service\TemplateModuleListing">
        <arguments>
            <argument name="templates" xsi:type="array">
                <item name="Yireo_Empty" xsi:type="string">Yireo_Empty</item>
                <item name="Yireo_LokiCheckoutEmpty" xsi:type="string">Yireo_LokiCheckoutEmpty</item>
                <item name="Yireo_LokiCheckoutEmptyPayment" xsi:type="string">Yireo_LokiCheckoutEmptyPayment</item>
                <item name="Yireo_LokiCheckoutEmptyShipment" xsi:type="string">Yireo_LokiCheckoutEmptyShipment</item>
            </argument>
        </arguments>
    </type>
</config>
